/* body scroll bar  */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Home Video CSS */
header {
  position: relative;
  background-color: #f6507e;
  height: 250px;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Header Style */
.header-style {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 3;
}

.header-icon {
  color: #ffffff;
  height: 40px;
  width: 40px;
}

/* Home Banner */
.home-banner {
  height: 250px;
  background-color: #f6507e;
}

.home-banner-text {
  margin-top: 130px;
  color: #ffffff;
}

.search-bar-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 20px 0px;
  padding: 15px;
  border-radius: 1000px;
  margin-top: -30px;
  background-color: #ffffff;
  position: relative;
  z-index: 5;
}

.search-icon {
  margin: auto;
  width: 15%;
}

.search-bar {
  font-size: 16px;
  line-height: 25px;
  border: none;
  outline: none;
  padding: 5px;
  width: 85%;
}

/* Alert Container */
.alertContainer {
  position: fixed;
  z-index: 101;
  top: 15px;
}

.alert-error {
  background-color: #ec3f45;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  width: max-content;
}

.alert-success {
  background-color: #03b185;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  width: max-content;
}

/* song card */
.song-card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px 0px;
  height: 300px;
  display: flex;
  flex-direction: column;
  transition: 0.3s linear;
}

.song-card:hover {
  border-radius: 10px;
  margin: -8px 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 15px 0px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.album-title {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.5),
    rgba(255, 0, 0, 0)
  );
  border-radius: 10px;
  color: white;
  padding: 15px;
  height: 70%;
}

.bottom-white-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 5px 15px;
  height: 30%;
  width: 100%;
  bottom: 0px;
}

.artist-image {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin-top: -35px;
}

.button-style {
  padding: 3px 20px;
  border-radius: 50px;
}

.button-style-fav {
  /* padding: 3px; */
  border-radius: 50px;
  box-shadow: 0px 0px 5px #bbbbbb;
}

/* modal background */
.modal-background {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

/* General Style */
.color-white {
  color: #fff;
}

.background-primary {
  background-color: #dc3444;
}

.color-primary {
  color: #dc3444;
}

@media screen and (max-width: 340px) {
  .search-icon {
    margin: auto;
    width: 25%;
  }

  .search-bar {
    font-size: 16px;
    line-height: 25px;
    border: none;
    outline: none;
    padding: 5px;
    width: 75%;
  }
}
